* {
  border: 1px solid gold;
  vertical-align: baseline;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0 auto;
  width: 800px;
}

#header {
  margin: 10px auto;
}

#gameContainer {
  margin: 10px auto;
  width: 800px;
  height: 450px;
  position: absolute;
  overflow: visible; /*! to be changed later*/
}

#sky {
  background-color: rgb(240, 252, 252);
  width: 800px;
  height: 350px;
  position: absolute;
}

#ground {
  background-color: rgb(13, 224, 143);
  width: 800px;
  height: 100px;
  position: absolute;
  top: 350px;
}

#hero {
  border-radius: 50%;
  background-color: yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  /* bottom: 0px; */
  left: 100px;
}

.block {
  width: 50px;
  height: 50px;
  position: absolute;
  /* left: 200px; */
}

.gameStats {
  text-align: right;
}

/* .flying {
  bottom: 210px;
}

.flying2 {
  bottom: 140px;
}

.flying3 {
  bottom: 70px;
}

.flying4 {
  bottom: 0px;
} */

.target {
  background-color: greenyellow;
}

.obstacle {
  /* background-color: red; */
  background-image: url("/images/redgif.gif");
  background-size: cover;
}

.screen {
  width: 60%;
  height: 70%;
  border: lightblue 1px solid;
  background-color: lightcyan;
  position: relative;
  z-index: 2;
}

.screen h3 {
  margin-top: 25px;
}

.instruction {
  width: 100%;
  font-size: 12px;
  color: grey;
  bottom: 0;
  position: absolute;
}

.hide {
  display: none;
}
