* {
  vertical-align: baseline;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

body {
  margin: 0 auto;
  width: 800px;
}

#header {
  margin: 10px auto;
}

#gameContainer {
  margin: 10px auto;
  border: black 0.5px solid;

  width: 800px;
  height: 450px;
  position: absolute;
  overflow: hidden;
}

#sky {
  background-color: rgb(240, 252, 252);
  width: 800px;
  height: 350px;
  position: absolute;
}

#ground {
  background-color: rgb(13, 224, 143);
  width: 800px;
  height: 100px;
  position: absolute;
  top: 350px;
}

#hero {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 100px;
}

.fly {
  background-image: url("/images/heroflygif.gif");
  background-size: cover;
}

.run {
  background-image: url("/images/herorungif.gif");
  background-size: cover;
}

.still {
  background-image: url("/images/herostill.png");
  background-size: cover;
}

.block {
  width: 50px;
  height: 50px;
  position: absolute;
}

.gameStats {
  text-align: right;
  margin-right: 5px;
}

.target {
  background-image: url("/images/pointgif.gif");
  background-size: cover;
}

.obstacle {
  background-image: url("/images/redgif.gif");
  background-size: cover;
}

.screen {
  width: 60%;
  height: 70%;
  border: lightblue 1px solid;
  background-color: lightcyan;
  position: relative;
  z-index: 2;
}

.screen h3 {
  margin-top: 25px;
}

#inputName input {
  margin-top: 15px;
}

#intro p {
  margin-top: 15px;
}

.instruction {
  width: 100%;
  font-size: 12px;
  color: grey;
  bottom: 0;
  position: absolute;
}

.hide {
  display: none;
}
