* {
  border: 1px solid gold;
  vertical-align: baseline;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  margin: 0 auto;
  width: 800px;
}

#header {
  margin: 10px auto;
}

#gameContainer {
  margin: 10px auto;
  width: 800px;
  height: 450px;
  position: absolute;
  overflow: visible; /*! to be changed later*/
}

#sky {
  background-color: rgb(240, 252, 252);
  width: 800px;
  height: 350px;
  position: absolute;
}

#ground {
  background-color: rgb(13, 224, 143);
  width: 800px;
  height: 100px;
  position: absolute;
  top: 350px;
}

#hero {
  border-radius: 50%;
  background-color: yellow;
  width: 50px;
  height: 50px;
  position: absolute;
  margin-top: 20px; /*per jump 70px*/
  margin-left: 100px;
}

.block {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 120px;
}

.flying {
  margin-top: 90px;
}

.flying2 {
  margin-top: 160px;
}

.flying3 {
  margin-top: 230px;
}

.flying4 {
  margin-top: 300px;
}

.target {
  background-color: greenyellow;
}

.obstacle {
  background-color: red;
}
